In [1]:
#2. Загрузите набор данных фильмов в pandas
import pandas as pd
df = pd.read_csv(r"C:\Users\Professional\Desktop\Dan IT\P\movies.csv")
print(df)
#3. Перечислите все столбцы набора данных и изучите их типы. Изучите статистику
#по различным областям. Опишите, какие данные у нас есть
df.head(10)
df.tail(10)
df.describe()
df.shape
df.info()
df.columns
df.index
df.isnull()
df.dtypes

                                  Film    Genre            Lead Studio  \
0           Zack and Miri Make a Porno  Romance  The Weinstein Company
1                      Youth in Revolt   Comedy  The Weinstein Company
2   You Will Meet a Tall Dark Stranger   Comedy            Independent
3                         When in Rome   Comedy                 Disney
4                What Happens in Vegas   Comedy                    Fox
..                                 ...      ...                    ...
72                 Across the Universe  romance            Independent
73                       A Serious Man    Drama              Universal
74                  A Dangerous Method    Drama            Independent
75                          27 Dresses   Comedy                    Fox
76                (500) Days of Summer   comedy                    Fox

    Audience score %  Profitability  Rotten Tomatoes % Worldwide Gross  Year
0                 70       1.747542                 64         $41.94   2008
1                 52       1.090000                 68         $19.62   2010
2                 35       1.211818                 43         $26.66   2010
3                 44       0.000000                 15         $43.04   2010
4                 72       6.267647                 28        $219.37   2008
..               ...            ...                ...             ...   ...
72                84       0.652603                 54         $29.37   2007
73                64       4.382857                 89         $30.68   2009
74                89       0.448645                 79          $8.97   2011
75                71       5.343622                 40        $160.31   2008
76                81       8.096000                 87         $60.72   2009

[77 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     object
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

<b>Dataset movies consist of 77 rows and 5 columns. Type for column 'Worldwide Gross' is not correct,\nbetter to use float64. User have to know that info provided for this column in Mio or Thsd USD. Now this info is missing\nand calculations for this column cannot be implemented, becouse not correct type. Rows or columns don't contains empty values.\nDataset has 3 dublicates. 3 films has Profitability = 0, that is strange.\nFor correct analysis, the previously listed errors have been corrected </b>

In [2]:
#Функція зміни типу даних для Worldwide Gross
def cor_val(val):
    new_val = val.replace(',','').replace('$', '')
    return float(new_val)

df['Worldwide Gross'].apply(cor_val)

df['Worldwide Gross'] = df['Worldwide Gross'].apply(cor_val)
df.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross      float64
Year                   int64
dtype: object

In [3]:
#4. Сколько всего фильмов в наборе данных?

len(df)#кількість рядків не відповідає кількості фільмів

duplicateRows = df[df.duplicated ()]#перевірка на дублікати. Знайдено 2 дублікати
print(duplicateRows)

df.duplicated().sum()#ще варіант перевірки на дублі

duplicateRows1 = df[df.duplicated(['Genre', 'Lead Studio','Audience score %','Profitability','Rotten Tomatoes %','Worldwide Gross','Year'])]
print(duplicateRows1)#додаткова перевірка на дублікати. Знайдено 3 дублікати

count_of_films=len(df)- len(duplicateRows1) #Отже в масиві інформація про 74 фільмів
print(f'count of films',count_of_films)

                 Film      Genre Lead Studio  Audience score %  Profitability  \
46         Mamma Mia!     Comedy   Universal                76       9.234454
65  Gnomeo and Juliet  Animation      Disney                52       5.387972

    Rotten Tomatoes %  Worldwide Gross  Year
46                 53           609.47  2008
65                 56           193.97  2011
                  Film      Genre   Lead Studio  Audience score %  \
26  Sex and the City 2     Comedy  Warner Bros.                49
46          Mamma Mia!     Comedy     Universal                76
65   Gnomeo and Juliet  Animation        Disney                52

    Profitability  Rotten Tomatoes %  Worldwide Gross  Year
26       2.883500                 15           288.35  2010
46       9.234454                 53           609.47  2008
65       5.387972                 56           193.97  2011
count of films 74

In [4]:

df_correct =df.drop_duplicates(subset=['Genre', 'Lead Studio','Audience score %',
                           'Profitability','Rotten Tomatoes %','Worldwide Gross','Year'], keep='last') #оновлюємо масив без дублікатів

print(df_correct)
len(df_correct)

                                  Film    Genre            Lead Studio  \
0           Zack and Miri Make a Porno  Romance  The Weinstein Company
1                      Youth in Revolt   Comedy  The Weinstein Company
2   You Will Meet a Tall Dark Stranger   Comedy            Independent
3                         When in Rome   Comedy                 Disney
4                What Happens in Vegas   Comedy                    Fox
..                                 ...      ...                    ...
72                 Across the Universe  romance            Independent
73                       A Serious Man    Drama              Universal
74                  A Dangerous Method    Drama            Independent
75                          27 Dresses   Comedy                    Fox
76                (500) Days of Summer   comedy                    Fox

    Audience score %  Profitability  Rotten Tomatoes %  Worldwide Gross  Year
0                 70       1.747542                 64            41.94  2008
1                 52       1.090000                 68            19.62  2010
2                 35       1.211818                 43            26.66  2010
3                 44       0.000000                 15            43.04  2010
4                 72       6.267647                 28           219.37  2008
..               ...            ...                ...              ...   ...
72                84       0.652603                 54            29.37  2007
73                64       4.382857                 89            30.68  2009
74                89       0.448645                 79             8.97  2011
75                71       5.343622                 40           160.31  2008
76                81       8.096000                 87            60.72  2009

[74 rows x 8 columns]

74

In [47]:
#5Сколько фильмов содержится в наборе данных за каждый год?
print(df_correct['Year'].value_counts())

print(df_correct[df_correct.Profitability == df_correct.Profitability.min()])
print(df_correct[df_correct.Profitability == df_correct.Profitability.max()])


df2=df_correct.query('Profitability == Profitability.max()')
print(df2)
df2=df_correct.query('Profitability == Profitability.min()')
print(df2)

2008    19
2010    19
2011    13
2009    12
2007    11
Name: Year, dtype: int64
                  Film    Genre  Lead Studio  Audience score %  Profitability  \
3         When in Rome   Comedy       Disney                44            0.0
33  Our Family Wedding   Comedy  Independent                49            0.0
57           Jane Eyre  Romance    Universal                77            0.0

    Rotten Tomatoes % Worldwide Gross  Year
3                  15         $43.04   2010
33                 14         $21.37   2010
57                 85         $30.15   2011
         Film  Genre  Lead Studio  Audience score %  Profitability  \
68  Fireproof  Drama  Independent                51         66.934

    Rotten Tomatoes % Worldwide Gross  Year
68                 40         $33.47   2008
         Film  Genre  Lead Studio  Audience score %  Profitability  \
68  Fireproof  Drama  Independent                51         66.934

    Rotten Tomatoes % Worldwide Gross  Year
68                 40         $33.47   2008
                  Film    Genre  Lead Studio  Audience score %  Profitability  \
3         When in Rome   Comedy       Disney                44            0.0
33  Our Family Wedding   Comedy  Independent                49            0.0
57           Jane Eyre  Romance    Universal                77            0.0

    Rotten Tomatoes % Worldwide Gross  Year
3                  15         $43.04   2010
33                 14         $21.37   2010
57                 85         $30.15   2011

In [48]:
#Вважаю, що Profitability не може бути рівна 0, більш всього, що є помилка в данних, 
#тому додатково шукаю мінімальне значення, але яке не дорівнює 0 
df1=df_correct[df_correct['Profitability']!=0]
df1[df1['Profitability']==df1['Profitability'].min()]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
8,Waiting For Forever,Romance,Independent,53,0.005,6,$0.03,2011

In [5]:
#7 Значение «Жанр» временами кажется непоследовательным; попробуйте найти эти несоответствия и исправить их
df_correct['Genre'].sort_values().unique() #для кращого знаходження невідповідності, відсортувала по алфавіту

df_correct['Genre'] = df_correct['Genre'].replace(['Comdy', 'comedy'], 'Comedy')#оновила на коректні дані
df_correct['Genre'] = df_correct['Genre'].replace(['Romence', 'romance'], 'Romance')

print(df_correct)

                                  Film    Genre            Lead Studio  \
0           Zack and Miri Make a Porno  Romance  The Weinstein Company
1                      Youth in Revolt   Comedy  The Weinstein Company
2   You Will Meet a Tall Dark Stranger   Comedy            Independent
3                         When in Rome   Comedy                 Disney
4                What Happens in Vegas   Comedy                    Fox
..                                 ...      ...                    ...
72                 Across the Universe  Romance            Independent
73                       A Serious Man    Drama              Universal
74                  A Dangerous Method    Drama            Independent
75                          27 Dresses   Comedy                    Fox
76                (500) Days of Summer   Comedy                    Fox

    Audience score %  Profitability  Rotten Tomatoes %  Worldwide Gross  Year
0                 70       1.747542                 64            41.94  2008
1                 52       1.090000                 68            19.62  2010
2                 35       1.211818                 43            26.66  2010
3                 44       0.000000                 15            43.04  2010
4                 72       6.267647                 28           219.37  2008
..               ...            ...                ...              ...   ...
72                84       0.652603                 54            29.37  2007
73                64       4.382857                 89            30.68  2009
74                89       0.448645                 79             8.97  2011
75                71       5.343622                 40           160.31  2008
76                81       8.096000                 87            60.72  2009

[74 rows x 8 columns]

C:\Users\Professional\AppData\Local\Temp\ipykernel_3264\2872560005.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_correct['Genre'] = df_correct['Genre'].replace(['Comdy', 'comedy'], 'Comedy')#оновила на коректні дані
C:\Users\Professional\AppData\Local\Temp\ipykernel_3264\2872560005.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_correct['Genre'] = df_correct['Genre'].replace(['Romence', 'romance'], 'Romance')

In [6]:
#8. Сохраните (в новый файл CSV) 10 лучших комедий по количеству зрителей; покажите только название фильма, год и студию.
#1 variant whith 2 files
top10=df_correct.nlargest(10, ['Audience score %'])
top10_max = top10.iloc[:,[0,7,2]]
print(top10_max)

top_min10 =df_correct.nsmallest(10, ['Audience score %'])
top10_min = top_min10.iloc[:,[0,7,2]]
print(top10_min)

top10_min.to_csv(r'C:\\Users\Professional\Desktop\Dan IT\P\topmin.csv', index= False )
top10_max.to_csv(r'C:\\Users\Professional\Desktop\Dan IT\P\topmax.csv', index= False )

                                   Film  Year            Lead Studio
6                                WALL-E  2008                 Disney
74                   A Dangerous Method  2011            Independent
22                              Tangled  2010                 Disney
39                 My Week with Marilyn  2011  The Weinstein Company
43                    Midnight in Paris  2011                   Sony
72                  Across the Universe  2007            Independent
54                           Knocked Up  2007              Universal
12                             Twilight  2008                 Summit
31                      P.S. I Love You  2007            Independent
20  The Curious Case of Benjamin Button  2008           Warner Bros.
                                   Film  Year   Lead Studio
2    You Will Meet a Tall Dark Stranger  2010   Independent
48                         Love Happens  2009     Universal
18                   The Heartbreak Kid  2007     Paramount
3                          When in Rome  2010        Disney
55                              Killers  2010     Lionsgate
10  Tyler Perry's Why Did I get Married  2007   Independent
17               The Invention of Lying  2009  Warner Bros.
21                     The Back-up Plan  2010           CBS
32                   Over Her Dead Body  2008      New Line
66           Ghosts of Girlfriends Past  2009  Warner Bros.

In [76]:
#2 variant whith 1 file
top10=df_correct.nlargest(10, ['Audience score %'])
top10_max = top10.iloc[:,[0,7,2]]
t_max = top10_max.assign(F = 'max')
print(t_max)

top_min10 =df_correct.nsmallest(10, ['Audience score %'])
top10_min = top_min10.iloc[:,[0,7,2]]
t_min = top10_min.assign(F = 'min')
print(t_min)

t_max.to_csv(r'C:\\Users\Professional\Desktop\Dan IT\P\fulltop.csv', index=False)
t_min.to_csv(r'C:\\Users\Professional\Desktop\Dan IT\P\fulltop.csv', index=False, mode="a")

                                   Film  Year            Lead Studio    F
6                                WALL-E  2008                 Disney  max
74                   A Dangerous Method  2011            Independent  max
22                              Tangled  2010                 Disney  max
39                 My Week with Marilyn  2011  The Weinstein Company  max
43                    Midnight in Paris  2011                   Sony  max
72                  Across the Universe  2007            Independent  max
54                           Knocked Up  2007              Universal  max
12                             Twilight  2008                 Summit  max
31                      P.S. I Love You  2007            Independent  max
20  The Curious Case of Benjamin Button  2008           Warner Bros.  max
                                   Film  Year   Lead Studio    F
2    You Will Meet a Tall Dark Stranger  2010   Independent  min
48                         Love Happens  2009     Universal  min
18                   The Heartbreak Kid  2007     Paramount  min
3                          When in Rome  2010        Disney  min
55                              Killers  2010     Lionsgate  min
10  Tyler Perry's Why Did I get Married  2007   Independent  min
17               The Invention of Lying  2009  Warner Bros.  min
21                     The Back-up Plan  2010           CBS  min
32                   Over Her Dead Body  2008      New Line  min
66           Ghosts of Girlfriends Past  2009  Warner Bros.  min